.MainView {
  height: 95%;
  width: 80vw;
  /*Deixe a linha abaixo comentada pois notei que ela estava atrapanhando testar a responsividade do jogo, depois podemos tira ela*/
  /* min-width: max-content; */
  margin-top: 1vh;
  margin-right: 19vw;
  border: 6px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 10px;
  flex: auto;
  overflow: auto;
}

.GameView {
  max-height: 100%;
  width: 80vw;
  margin-top: 1vh;
  border: 6px solid #805AD5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1px;
  flex: auto;
  overflow: auto;
}
